<div>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand"><%= profile.label %></a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#/setup/profilesView"><b>К Списку</b></a></li>
				<li><a href="#/setup/profileEdit/<%= profile.id %>"><b>Редактировать</b></a></li>
			</ul>
		</div>
	</nav>
	<div>
		<div class="panel panel-default">
			<div class="panel-heading">Системные</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Возможность</th>
							<th>Доступ</th>
						</tr>
					</thead>
					<tbody>
						<% _.each( scheme.system, function( permisstion ) { %>
							<tr class="<%= viewHalper.getStyle( permisstion, permissionSet, "system" ) %>">
								<td><%= permisstion.name %></td>
								<td class="col-sm-2"><%= viewHalper.getPermissionValue( permisstion, permissionSet, 'system' ) %></td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Табы</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Название</th>
							<th>Видимость</th>
						</tr>
					</thead>
					<tbody>
						<% _.each( tabList, function( tab ) { %>
							<tr class="<% if ( tab.visible ) { %> success  <% } else { %>danger<% } %>" >
								<td><%= tab.label %></td>
								<td class="col-sm-2"><%= tab.visible %></td>
							</tr>
						<%	}); %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Таблицы</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Название</th>
							<th>Доступ</th>
						</tr>
					</thead>
					<tbody>
						<% _.each( scheme.tables, function( permisstion ) { %>
							<tr class="<%= viewHalper.getStyle( permisstion, permissionSet, "tables" ) %>">
								<td><%= permisstion.name %></td>
								<td class="col-sm-2"><%= viewHalper.getPermissionValue( permisstion, permissionSet, "tables" ) %></td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>