<div class="tab-list">
    <nav class="navbar navbar-default"  role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand"><%_ tabListHeader %></a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/setup/tabEdit/-1"><b><%_ addItemLink %></b></a></li>
            </ul>
        </div>
    </nav>

    <div class="mesage-box"></div>

	<table class="tabs table table-hover">
		<tr>
			<th><%_ headerID %></th>
			<th><%_ headerName %></th>
			<th><%_ headerLabel %></th>
			<th><%_ headerLink %></th>
			<th></th>
		</tr>
		<% _.each( tabs,  function( tab ) { %>
			<tr>
				<td><%= tab.id %></td>
				<td><%= tab.name %></td>
				<td><%= tab.label %></td>
                <td><%= tab.link %></td>
				<td class="action">
                    <a style="cursor:pointer" class="deleteLink" value="<%= tab.id %>"><%_ deleteItemLink %></a> |
                    <a href='#/setup/tabEdit/<%=tab.id%>'><%_ editItemLink %></a>
                </td>
			</tr>
		<% });%>
	</table>
</div>