<div>
	<h3><%= furniture.label %></h3>
	<% if (furniture.id) { %> 
		<div class="panel panel-default">
			<div class="panel-heading">Детали</div>
			<div class="panel-body">
				<div class="description">
					<%= furniture.description %>
				</div>
				<div class="fileLoadBox">
					<form id="addImageForm" role="form" method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<label for="imageFile">Загрузка Изображеия</label>
							<input name="image" type="file" id="imageFile">
							<p class="help-block">Выберите изображение...</p>
						</div>
						<div class="form-group">
							<button type="button" class="btn btn-default furnitureAddImage">Добавить</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<% if ( pictures.length > 0 ) { %>
			<div class="panel panel-default">
				<div class="panel-heading">Изображения</div>
				<div class="panel-body">
					<% _.each( pictures, function( picture ) { %>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object img-thumbnail" src="<%= picture.path %>" alt="<%= picture.name %>" >
							</a>
							<div id="picture-<%= picture.id %>">
								
							</div>
						</div>
					<% });%>
				</div>
			</div>
		<% } %>
	<% }%>
</div>