<div class="files-list">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand">Менаджер Файлов</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a style="cursor:pointer" ><b>Зделать Что-то</b></a></li>
            </ul>
        </div>
    </nav>

    <div class="upload-box"></div>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="explorer-box">
				<div id="file-explorer"></div>
			</div>
			<div class="image-box"></div>
		</div>
	</div>
</div>