<div class="self-view">
	<div class="panel panel-default">
		<div class="panel-heading"><%_ self_header %></div>
		<div class="panel-body">
			<div>
				<label for="userEmail"><%_ email %>: </label>
				<span id="userEmail"><%= user.email %></span>
			</div>
			<div>
				<label for="userFirstName"><%_ first_name %>: </label> 
				<span  id="userFirstName"><%= user.firstName %></span>
			</div>
			<div>
				<label for="userLastName"><%_ last_name %>: </label>
				<span id="userLastName"><%= user.lastName %></span>
			</div>
			<div>
				<label for="userLastName"><%_ profile %>: </label>
				<span id="userLastName"><%= profile.name %></span>
			</div>
		</div>
	</div>
</div>