<div class="change-password">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand"><%= user.firstName%> <%= user.lastName%> (<%= user.email%>)</a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/setup/userEdit/<%= user.id %>"><b><%_ cancelLink %></b></a></li>
                <li><a style="cursor:pointer" class="userSaveButton"><b><%_ saveLink %></b></a></li>
            </ul>
        </div>
    </nav>

    <div class="message-box"></div>

    <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="panel-body">
            <form class="change-form form-horizontal" role="form">
                <div class="form-group">
                    <label for="userPassword" class="col-sm-2 control-label"><%_ password %></label>
                    <div class="col-sm-8">
                        <input name="password" class="form-control" id="userPassword" type="password" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="userRepPassword" class="col-sm-2 control-label"><%_ repPassword %></label>
                    <div class="col-sm-8">
                        <input name="repPassword" class="form-control" id="userRepPassword" type="password" value="">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>