<div class="request-content">
	<div class="title">
		Заказ обратного звонка
	</div>
	<div class="body">
		<form class="request-form">
			<div class="row">
				<label for="reqest-username">Ваше имя</label><input id="reqest-username" name="username" type="text">
			</div>
			<div class="row">
				<label for="reqest-phone">Номер телефона</label><input id="reqest-phone" name="phone" type="text">
			</div>
			<div class="row">
				<label for="reqest-email">Ваш е-мail</label><input id="reqest-email" name="email" type="text">
			</div>
			<div class="row reqest">
				<label class="textarea" for="reqest-body">Ваша заявка или вопрос</label><textarea id="reqest-body" name="body"></textarea>
			</div>
			<div class="row">
				<button class="button submit">Отправить</button>
				<button class="button newSubmit" style="display: none">Новая Заявка</button>
			</div>
		</form>
	</div>
</div>